/** @format */

/* DESIGNED FOR MOBILE VIEWING */
@media only screen and (min-width: 416px) {
	body {
		width: 414px;
		height: 752px;
		border: solid 6px black;
		border-radius: 20px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		padding: 6px;
	}
}

.flexbox-container {
	display: flex;
	flex-direction: column;
	margin-left: 13px;
	margin-right: 13px;
	margin-bottom: 5px;
}
.flexbox-containerB {
	display: flex;
	flex-direction: column-reverse;
	margin-left: 13px;
	margin-right: 13px;
	margin-bottom: 5px;
}
.image-container {
	display: flex;
	flex-direction: column;
	margin-left: 0px;
	margin-right: 10px;
	margin-bottom: 5px;
}
.chart-container {
	display: flex;
	flex-direction: column;
	position: relative;
	margin-left: 0px;
	margin-right: 20px;
}
